@import '../../variables.scss';

$sliderWidth: 15px;

.tmm_audio-player{
  position: relative;
  width:100%;
  height:$headerHeight;

  &_timeline{
    width:calc(100% - $sliderWidth);
    height:100%;
    position: relative;
    z-index: 2;
    display:inline-block;
    background-color: $gray;

    &_loaded{
      height:100%;
      background-color: $gray;
      position: absolute;
      top:0px;
    }

    &_bar{
      height:100%;
      background-color: $graydark;
      position: absolute;
      top:0px;
    }

    &_playhead{
      height:100%;
      width:1px;
      background-color: $white;
      position: absolute;
      top:0px;
    }

    &_overlay{
      position: absolute;
      top:0px;
      left:0px;
      width:100%;
      height:100%;
      z-index: 10;
    }
  }

  &_volume-slider-container{
    position: absolute;
    z-index: 3;
    top: 0;
    right:0;
    width: $sliderWidth;
    height:100%;
  }

  &_pause-play-button-container{
    position: absolute;
    z-index: 3;
    top: 50%;
    left:15px;
    transform: translate(0%, -50%);
  }

  &_error{
    position: absolute;
    z-index: 3;
    top: 0;
    width:100%;
    height:100%;
    background-color: $graydark;

    &_text{
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: $white;
    }
  }
}
