<link rel="stylesheet" href="/v1/tmm-web-audio-player.css?v=0.0.3">
<script type="text/javascript" src="/v1/tmm-web-audio-player.js?v=0.0.3"></script>

<br><br>
<h3>TMM Web Audio Player:</h3>

<div style="width: 400px" id="tmm-web-audio-player-embed"></div>
<script type="text/javascript">
  (function() {
    TMMWebAudioPlayer.init({
      embedDiv: 'tmm-web-audio-player-embed',
      tracks: [
        {title: "Cool Song You Like", file: "/example-audio/example-tommymetz.mp3"},
        {title: "Let's Eat Ice Cream", file: "/example-audio/example-wirefaces.mp3"},
        {title: "Casio Keyboard Pandemic", file: "/example-audio/example-tylerfong.mp3"},
        {title: "Bambi's Boolean Value", file: "/example-audio/example-tommymetz.mp3"},
        {title: "Pineapple Espresso", file: "/example-audio/example-wirefaces.mp3"},
        {title: "Flamingo Espionage Theme", file: "/example-audio/example-tylerfong.mp3"},
      ]
    });
  })();
</script>

<br><br>
<h3>Load From JSON File:</h3>

<div style="width: 400px" id="tmm-web-audio-player-embed-json-file"></div>
<script type="text/javascript">
  (function() {
    TMMWebAudioPlayer.init({
      embedDiv: 'tmm-web-audio-player-embed-json-file',
      tracksJsonUrl: "/example-audio/tracks.json"
    });
  })();
</script>

<br><br>
<h3>No Tracks or Tracks JSON File:</h3>

<div style="width: 400px" id="tmm-web-audio-player-embed-no-tracks"></div>
<script type="text/javascript">
  (function() {
    TMMWebAudioPlayer.init({
      embedDiv: 'tmm-web-audio-player-embed-no-tracks',
    });
  })();
</script>

<br><br>
<h3>Broken Tracks:</h3>

<div style="width: 400px" id="tmm-web-audio-player-embed-broken-tracks"></div>
<script type="text/javascript">
  (function() {
    TMMWebAudioPlayer.init({
      embedDiv: 'tmm-web-audio-player-embed-broken-tracks',
      tracks: [
        {title: "Cool Song You Like", file: "/BROKENexample-audio/example-tommymetz.mp3"},
        {title: "Let's Eat Ice Cream", file: "/example-audio/example-wirefaces.mp3"},
        {title: "Casio Keyboard Pandemic", file: "/example-audio/BROKENexample-tylerfong.mp3"},
      ]
    });
  })();
</script>

<br><br>
<h3>Can't Find Div:</h3>

<div style="width: 400px" id="tmm-web-audio-player-embed-no-div"></div>
<p>Should see JS error in dev console (option + command + i)</p>
<script type="text/javascript">
  (function() {
    TMMWebAudioPlayer.init({
      embedDiv: 'tmm-web-audio-player-embed-no-divBROKEN',
      tracks: [
        {title: "Cool Song You Like", file: "/example-audio/example-tommymetz.mp3"},
        {title: "Let's Eat Ice Cream", file: "/example-audio/example-wirefaces.mp3"},
        {title: "Casio Keyboard Pandemic", file: "/example-audio/example-tylerfong.mp3"},
      ]
    });
  })();
</script>

<br><br>
<h3>Iframe Example:</h3>
<script type="text/javascript">
  window.addEventListener('message', (event) => {
    if(event.data === 'tmmStopAllAudio'){
      document.querySelectorAll('iframe').forEach(iframe => {
        if (iframe.contentWindow !== event.source) {
          iframe.contentWindow.postMessage(event.data, '*');
        }
      });
    }
  });
</script>

<iframe
  src="/index.html?tracksJsonUrl=/example-audio/tracks.json&debug=true"
  frameborder="0" scrolling="no" style="width:100%; height:300px"></iframe>

<br><br>
<h3>Iframe Hosted Example:</h3>
<iframe 
  src="https://tmm-web-audio-player.netlify.app/?tracksJsonUrl=https://tommetzmedia.s3.amazonaws.com/tmm-web-audio-player/tracks.json&debug=true"
  frameborder="0" scrolling="no" style="width:100%; height:300px"></iframe>
