/*!**************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./app/components/PausePlayButton/PausePlayButton.scss ***!
  \**************************************************************************************************************************************************************************/
.tmm_pause-play-button {
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: black;
  color: white;
  overflow: hidden;
}
.tmm_pause-play-button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
}
.tmm_pause-play-button:hover .tmm_pause-play-button_play_triangle,
.tmm_pause-play-button:hover .tmm_pause-play-button_pause_rectangle0,
.tmm_pause-play-button:hover .tmm_pause-play-button_pause_rectangle1 {
  background-color: black;
}
.tmm_pause-play-button_play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 80%;
  transform: translate(15%, -50%) scaleX(1.8);
  overflow: hidden;
}
.tmm_pause-play-button_play_triangle {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10%;
  left: -60%;
  background-color: white;
  transform: rotate(45deg);
}
.tmm_pause-play-button_pause {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tmm_pause-play-button_pause_rectangle0 {
  width: 4px;
  height: 14px;
  background-color: white;
  margin-right: 4px;
}
.tmm_pause-play-button_pause_rectangle1 {
  width: 4px;
  height: 14px;
  background-color: white;
}
/*!******************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./app/components/AudioPlayer/AudioPlayer.scss ***!
  \******************************************************************************************************************************************************************/
.tmm_audio-player {
  position: relative;
  width: 100%;
  height: 45px;
  background-color: #8b8b8b;
}
.tmm_audio-player_timeline {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  display: inline-block;
}
.tmm_audio-player_timeline_loaded {
  height: 100%;
  background-color: gray;
  position: absolute;
  top: 0px;
}
.tmm_audio-player_timeline_bar {
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0px;
}
.tmm_audio-player_timeline_playhead {
  height: 100%;
  width: 1px;
  background-color: white;
  position: absolute;
  top: 0px;
}
.tmm_audio-player_timeline_overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.tmm_audio-player_pause-play-button-container {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 15px;
  transform: translate(0%, -50%);
}
.tmm_audio-player_error {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
.tmm_audio-player_error_text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
/*!************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/sass-loader/dist/cjs.js!./app/components/Playlist/Playlist.scss ***!
  \************************************************************************************************************************************************************/
.tmm_playlist_container .tmm_playlist_player {
  margin-bottom: 10px;
}
.tmm_playlist_container .tmm_playlist_list_track {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  padding: 5px;
  padding-left: 15px;
  position: relative;
  color: black;
}
.tmm_playlist_container .tmm_playlist_list_track:hover {
  text-decoration: underline;
}
.tmm_playlist_container .tmm_playlist_list_track.active {
  text-decoration: underline;
}
.tmm_playlist_container .tmm_playlist_list_track.active:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  background-color: black;
  border-radius: 50%;
}

/*# sourceMappingURL=tmm-web-audio-player.css.map*/